.btn {
	display: block;
	padding: 18px 40px;
	font-family: "OpenSans";
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	color: #444444;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	border: 2px solid #444444;
}

.btn:hover {
	background: #444444;
	color: #ffffff;
}

.btn:active {
	color: #7c7c7c;
}

body {
	font-size: 16px;
	line-height: 24px;
	font-family: "Verdana", Arial, sans-serif;
	color: #000000;
	font-weight: bold;
	font-style: normal;
	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@font-face {
	font-weight: bold;
	font-family: "Verdana";
	font-style: normal;
	src: url("fonts/Verdana-Bold.ttf") format("truetype");
}

@font-face {
	font-weight: normal;
	font-family: "Verdana";
	font-style: normal;
	src: url("fonts/Verdana.ttf") format("truetype");
}

@font-face {
	font-weight: normal;
	font-family: "OpenSans";
	font-style: normal;
	src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-weight: bold;
	font-family: "OpenSans";
	font-style: normal;
	src: url("fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
	font-weight: bold;
	font-family: "Tahoma";
	font-style: normal;
	src: url("fonts/Tahoma-Bold.ttf") format("truetype");
}

@font-face {
	font-weight: normal;
	font-family: "Lemonada";
	font-style: normal;
	src: url("fonts/Lemonada-Regular.ttf") format("truetype");
}

@font-face {
	font-weight: bold;
	font-family: "Lemonada";
	font-style: normal;
	src: url("fonts/Lemonada-Bold.ttf") format("truetype");
}

.contacts__wrapper {
	width: 320px;
	margin: 0 auto;
	padding-bottom: 40px;
}

.contacts__title {
	padding: 16px 30px;
	margin: 0;
	margin-top: 20px;
	font-size: 24px;
	line-height: 30px;
}

.contacts__items {
	margin: 0;
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-family: "OpenSans";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	list-style: none;
}

.contacts__item--email,
.contacts__item--email-name {
	margin-top: 8px;
}

.contacts__item--address,
.contacts__item--address-name {
	margin-top: 30px;
}

.contacts__item--email,
.contacts__item--address {
	width: 28%;
	text-align: center;
}

.contacts__item--email-name,
.contacts__item--address-name {
	width: 72%;
}

.contacts__map {
	padding-top: 30px;
}

#map {
	height: 460px;
}

.contacts__btn {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 35px;
}

.features__wrapper {
	width: 320px;
	margin: 0 auto;
	padding: 0 30px;
	padding: 0;
	width: 260px;
}

.features__title {
	padding: 28px 0;
	margin: 0;
	margin-top: 45px;
}

.features__items {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.features__items--right,
.features__items--left {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features__item {
	position: relative;
	width: 260px;
}

.features__item p {
	margin: 0;
	padding-top: 60px;
	padding-bottom: 23px;
	font-size: 16px;
	line-height: 20px;
}

.features__icon {
	display: block;
	position: absolute;
	width: 50px;
	height: 30px;
	top: 5px;
	left: 0;
}

.goods {
	background-color: #f9f9f9;
	background-image: url("../img/hero-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.goods__title-wrapper {
	width: 320px;
	margin: 0 auto;
}

.goods__title {
	text-align: center;
	padding-top: 90px;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	color: #231f20;
}

.goods__items {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 120px;
}

.goods__item--interior {
	background: #63d1bb;
	cursor: pointer;
}

.goods__item--interior:hover {
	background: #59d5bc;
}

.goods__item--interior:active {
	opacity: 0.3;
}

.goods__item--toys {
	background: #56c3b2;
	cursor: pointer;
}

.goods__item--toys:hover {
	background: #46c1ae;
}

.goods__item--toys:active {
	opacity: 0.3;
}

.goods__item-wrapper {
	width: 320px;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}

.goods__list {
	width: 41%;
	padding-left: 9%;
	padding-top: 27px;
	padding-bottom: 27px;
}

.goods__list a {
	font-family: "Tahoma";
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
}

.goods__img {
	width: 15%;
	text-align: right;
	padding-right: 8.5%;
	padding-left: 26.5%;
}

.main-nav {
	width: auto;
	min-height: 50px;
}

.main-nav__wrapper {
	width: 320px;
	margin: 0 auto;
	position: relative;
}

.main-nav__toggle {
	position: absolute;
	top: 15px;
	right: 0;
	z-index: 2;
	display: block;
	width: 70px;
	height: 50px;
	font-size: 0;
	background-color: #ffffff;
	cursor: pointer;
	border: none;
	outline: none;
}

.main-nav--closed .main-nav__toggle::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 25px;
	width: 20px;
	height: 2px;
	background-color: #000000;
	box-shadow: 0 8px 0 0 #000000,
							0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:hover::before {
	background-color: #444444;
	box-shadow: 0 8px 0 0 #444444,
							0 16px 0 0 #444444;
}

.main-nav--closed .main-nav__toggle:active::before {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
	top: 15px;
	right: 0;
	left: auto;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
	content: "";
	position: absolute;
	top: 24px;
	left: 25px;
	width: 20px;
	height: 2px;
	background-color: #000000;
}

.main-nav--opened .main-nav__toggle::before {
	transform: rotate(45deg);
	box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
	transform: rotate(-45deg);
	box-shadow: none;
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
	background-color: #444444;
	box-shadow: none;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
	box-shadow: none;
}

.main-nav__item {
	border-bottom: 1px solid #ececec;
}

.main-nav__item :hover {
	opacity: 0.6;
}

.main-nav__item :active {
	opacity: 0.3;
}

.main-nav__items,
.main-nav__user-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__items a {
	display: block;
	padding-left: 24%;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-right: 6%;
	color: #000000;
	text-decoration: none;
}

.main-nav__items a[href]:hover {
	opacity: 0.6;
}

.main-nav__items a[href]:active {
	opacity: 0.3;
}

.main-nav__item--logo {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-nav__item--logo a {
	padding: 20px 0;
}

.main-nav__item--search {
	position: relative;
}

.main-nav__item--search:before {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	left: 30px;
	top: 40%;
	background: url("../img/icon-search.svg") no-repeat center;
}

.main-nav__item--search:hover:before {
	background: url("../img/icon-search-hover.svg") no-repeat center;
}

.main-nav__item--search:active:before {
	opacity: 0.3;
}

.main-nav__item--basket {
	position: relative;
}

.main-nav__item--basket:before {
	position: absolute;
	content: '';
	width: 18px;
	height: 18px;
	left: 30px;
	top: 40%;
	background: url("../img/icon-cart.svg") no-repeat center;
}

.main-nav__item--basket:hover:before {
	background: url("../img/icon-cart-hover.svg") no-repeat center;
}

.main-nav__item--basket:active:before {
	opacity: 0.3;
}

.main-nav__item--arrivals,
.main-nav__item--sale,
.main-nav__item--delivery {
	display: none;
}

.page-footer {
	background: #f1f1f1;
}

.page-footer__wrapper {
	width: 320px;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: center;
	align-content: center;
}

.page-footer-logo {
	display: none;
}

.page-footer__social {
	padding: 0 30px;
	min-height: 80px;
	width: 100%;
	text-align: center;
}

.social-links {
	display: block;
	padding: 22px 0;
	border-bottom: 1px solid #e5e5e5;
}

.social-link {
	padding: 0 18px;
	text-decoration: none;
}

.page-footer__copyright {
	position: relative;
	height: 70px;
	width: 100%;
	padding-left: 60px;
	padding-top: 10px;
	font-size: 18px;
	line-height: 18px;
}

.page-footer__copyright-link {
	position: absolute;
	top: 15px;
	right: 65px;
}

.social-link:hover .page-footer__social-img {
	fill: #63d1bb;
	transition-duration: 0.2s, 0.2s;
}

.social-link:active .page-footer__social-img {
	opacity: 0.3;
}

.page-footer__logo:hover {
	fill: #63d1bb;
	transition-duration: 0.3s, 0.3s;
}

.page-footer__logo:active {
	opacity: 0.3;
}

.page-footer__copyright-link:hover .page-footer__copyright-img {
	fill: #46c1ae;
	transition-duration: 0.2s, 0.2s;
}

.page-footer__copyright-link:active .page-footer__copyright-img {
	opacity: 0.3;
}

.page-header {
	width: 320px;
	margin: 0 auto;
}

.reviews {
	position: relative;
}

.reviews__wrapper {
	width: 320px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 52px;
	padding-left: 30px;
	padding-right: 30px;
	width: 260px;
}

.reviews__title {
	margin: 0;
	padding: 25px 0;
	font-size: 24px;
	line-height: 30px;
}

.reviews__item {
	margin: 0;
}

.reviews__item p {
	padding-bottom: 15px;
	margin: 0;
	font-family: "OpenSans";
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #444444;
}

.reviews__auhor-name {
	display: block;
	padding: 2px 0;
	font-family: "Verdana";
	font-weight: bold;
	line-height: 24px;
	color: #000000;
}

.reviews__auhor-link {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer;
	border-bottom: 1px solid #46c1ae;
}

.reviews__auhor-link:hover {
	color: #46c1ae;
}

.reviews__auhor-link:active {
	opacity: 0.3;
}

.reviews__item:nth-child(n+3) {
	display: none;
}

.reviews__toggles {
	display: -ms-flexbox;
	display: flex;
}

.reviews__toggle {
	display: block;
	position: relative;
	height: 50px;
	margin-top: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #eaeaea;
	background: none;
	font-size: 0;
	outline: none;
	cursor: pointer;
}

.reviews__toggle--prev {
	width: 128px;
}

.reviews__toggle--next {
	width: 129px;
	border-left: none;
}

.reviews__toggle--prev::before,
.reviews__toggle--next::before {
	display: block;
	position: absolute;
	content: '';
	width: 50px;
	height: 26px;
	top: 12px;
	left: 37px;
	background: url("../img/huge-arrow-left.png") no-repeat;
}

.reviews__toggle--prev:hover::before,
.reviews__toggle--next:hover::before {
	opacity: 0.6;
}

.reviews__toggle--prev:active::before,
.reviews__toggle--next:active::before {
	opacity: 0.3;
}

.reviews__toggle--next::before {
	transform: rotate(180deg);
}

.reviews__write {
	margin-top: 38px;
}

.reviews::before {
	position: absolute;
	content: "";
	bottom: 0px;
	width: 100%;
	height: 8px;
	background: url("../img/zigzag-line-mobile.png") repeat-x;
}

.top-goods {
	position: relative;
}

.top-goods__container {
	width: 320px;
	margin: 0 auto;
	width: 260px;
	padding: 0 30px;
	position: relative;
}

.top-goods__wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-family: "OpenSans";
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #444444;
}

.top-goods__title {
	padding: 10px 0;
	margin: 0;
	margin-top: 15px;
	min-width: 280px;
	font-family: "Verdana";
	font-size: 24px;
	line-height: 30px;
}

.top-goods__subtitle {
	display: block;
	height: 20px;
	color: #63d1bb;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
}

.top-goods__descr {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 16px;
	font-size: 14px;
	line-height: 24px;
}

.top-goods__options {
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	border-collapse: collapse;
}

.top-goods__options td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ececec;
}

.top-goods__value {
	padding-left: 15px;
}

.top-goods__left-img {
	width: 260px;
	height: 315px;
	margin: 0 auto;
	margin-top: 25px;
	background-image: url("../img/triple-set-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.top-goods__price {
	display: block;
	font-family: "Verdana";
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	padding: 25px 9%;
	text-align: center;
}

.top-goods::before {
	position: absolute;
	content: "";
	bottom: -42px;
	width: 100%;
	height: 8px;
	background: url("../img/zigzag-line-mobile.png") repeat-x;
}

.title__name {
	margin: 0;
	padding: 78px 0;
	text-align: center;
	font-family: "Verdana";
	font-weight: bold;
	font-size: 25px;
	line-height: 31px;
	background: #f1f1f1;
}

.title__wrapper {
	width: 320px;
	margin: 0 auto;
}

.title__description {
	margin: 0;
	padding-top: 25px;
	font-family: "OpenSans";
	font-weight: normal;
	font-size: 15px;
	line-height: 26px;
	color: #444444;
}

.title__description br {
	display: none;
}

.title__name--catalog {
	font-size: 24px;
	line-height: 30px;
	padding-top: 70px;
	padding-bottom: 76px;
}

.order__wrapper {
	font-family: "Verdana";
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

.order-form__type--container,
.order-form__color--container,
.order-form__name--container,
.order-form__contacs--container,
.order-form__additionally--container {
	width: 320px;
	margin: 0 auto;
}

.order-form__item {
	margin: 0;
	padding: 0;
	border: none;
}

.order-form__legend {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 25px 0;
	font-family: "OpenSans";
	font-size: 16px;
	line-height: 16px;
	color: #63d1bb;
	text-transform: uppercase;
}

.order-form__legend::before {
	content: "";
	position: absolute;
	top: 35px;
	right: 0px;
	width: 200px;
	height: 1px;
	background-color: #63d1bb;
}

/*Стилизация радиобаттон*/

.order-form__radio-group input[type="radio"] {
	display: none;
}

.order-form__radio-group {
	display: inline-block;
	position: relative;
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 20px;
	cursor: pointer;
}

.order-form__radio-group input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 0px;
	left: 0;
	width: 36px;
	height: 36px;
	border: 2px solid #444444;
	border-radius: 50px;
}

.order-form__radio-group input[type="radio"] + .radio-indicator:hover {
	border: 2px solid #46c1ae;
}

.order-form__radio-group input[type="radio"] + .radio-indicator:active {
	border: 2px solid rgba(68, 68, 68, 0.3);
}

.order-form__radio-group input[type="radio"]:checked + .radio-indicator::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 16px;
	height: 16px;
	background-color: #63d1bb;
	border-radius: 50px;
}

/*Стилизация чексбоксов*/

.order-form__checkbox input[type="checkbox"] {
	display: none;
}

.order-form__checkbox {
	display: inline-block;
	position: relative;
	padding-left: 60px;
	padding-top: 12px;
	padding-bottom: 34px;
	cursor: pointer;
}

.order-form__checkbox--last {
	padding-bottom: 25px;
}

.order-form__checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 38px;
	border: 2px solid #444444;
}

.order-form__checkbox input[type="checkbox"] + .checkbox-indicator:hover {
	border: 2px solid #46c1ae;
}

.order-form__checkbox input[type="checkbox"] + .checkbox-indicator:active {
	border: 2px solid rgba(68, 68, 68, 0.3);
}

.order-form__checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.order-form__checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	background-color: #000000;
}

.order-form__checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	top: 16px;
	left: 15px;
	width: 22px;
	height: 2px;
	transform: rotate(-45deg);
}

.order-form__checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	top: 19px;
	left: 9px;
	width: 11px;
	height: 2px;
	transform: rotate(45deg);
}

/*Стилизация текстовых полей*/

.order-form__label-text {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

.order-form__label-text--first {
	padding-top: 10px;
}

.order-form__input-text {
	padding-bottom: 18px;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 2px solid #000000;
}

.order-form__input-text:hover,
.order-form__input-text:focus {
	border-bottom: 2px solid #63d1bb;
}

input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
.order-form__item--additionally textarea {
	font-family: "Verdana";
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: rgba(68, 68, 68, 0.3);
}

.order-form__item--contacts {
	margin-top: 10px;
}

.order-form__input-wrapper-tel {
	position: relative;
}

.order-form__input-wrapper-tel::before {
	display: block;
	position: absolute;
	content: '';
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	background: url("../img/icon-phone.svg") 0 0 no-repeat;
}

.order-form__input-wrapper-tel:hover::before {
	background: url("../img/icon-phone-hover.svg") 0 0 no-repeat;
}

.order-form__input-wrapper--email {
	position: relative;
}

.order-form__input-wrapper--email::before {
	display: block;
	position: absolute;
	content: '';
	top: 0px;
	right: 0px;
	width: 35px;
	height: 30px;
	background: url("../img/icon-mail.svg") 0 0 no-repeat;
}

.order-form__input-wrapper--email:hover::before {
	background: url("../img/icon-mail-hover.svg") 0 0 no-repeat;
}

.order-form__legend--email {
	margin-top: 20px;
}

.order-form__item--additionally {
	margin-top: 10px;
}

.order-form__input-wrapper--additionally {
	margin-top: 10px;
}

.order-form__item--additionally .order-form__input-text {
	padding: 15px;
}

.order-form__item--additionally .order-form__input-text:hover,
.order-form__item--additionally .order-form__input-text:focus {
	border: 2px solid #63d1bb;
}

.sub__info {
	display: none;
}

.order-form__item--additionally textarea {
	padding-left: 15px;
	padding-right: 15px;
	min-height: 145px;
	border: 2px solid #444444;
	box-sizing: border-box;
}

.sub {
	width: 320px;
	margin: 0 auto;
}

.sub__btn {
	margin-top: 55px;
	margin-bottom: 58px;
	width: 100%;
	background: #ffffff;
	cursor: pointer;
}

.catalog__wrapper {
	width: 320px;
	margin: 0 auto;
	padding: 0px 30px;
	padding-bottom: 60px;
	box-sizing: border-box;
}

.catalog__item {
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid #ececec;
}

.catalog__img {
	cursor: pointer;
}

.catalog__products {
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.catalog__products-title {
	display: block;
	cursor: pointer;
}

.catalog__products-descr {
	display: block;
	padding-top: 6px;
	padding-bottom: 18px;
	border-bottom: 1px solid #ececec;
	font-family: "OpenSans";
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
	color: #444444;
	cursor: pointer;
}

.catalog__products-price {
	position: relative;
	display: block;
	padding-top: 22px;
	font-size: 14px;
	cursor: pointer;
}

.catalog__products-price::before {
	position: absolute;
	display: block;
	content: '';
	width: 30px;
	height: 30px;
	top: 20px;
	right: 0px;
	background: url("../img/catalog-item__price-bg.png") no-repeat center;
}

.catalog__products:hover {
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}

.catalog__products:active {
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.catalog__item--presentation {
	padding-bottom: 30px;
}

.catalog__presentation-video {
	position: relative;
}

.presentation-video__icon-play {
	position: absolute;
	display: block;
	content: '';
	width: 38%;
	top: 32%;
	left: 32%;
	cursor: pointer;
}

.presentation-video__icon-play:hover {
	width: 46%;
	top: 28%;
	left: 28%;
}

.presentation-video__icon-play:active {
	width: 30%;
	top: 35%;
	left: 35%;
	opacity: 0.5;
}

.catalog__presentation-title {
	position: relative;
}

.catalog__presentation-title p {
	padding-left: 90px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.presentation-video__icon {
	position: absolute;
	display: block;
	content: '';
	top: 17%;
	left: 12%;
}

.extra__info {
	display: block;
	padding: 24px 34px;
	margin: 0;
	font-family: "OpenSans";
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #444444;
}

.extra__btn {
	margin: 0 auto;
	padding: 17px 27px;
	background: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

.goods {
	background-image: url("../img/hero-mobile@2x.jpg");
	background-size: 575px auto;
}

.top-goods__left-img {
	background-image: url("../img/triple-set-mobile@2x.jpg");
	background-size: 260px auto;
}

}

@media (min-width: 768px) {

.contacts__wrapper {
	width: 668px;
}

.contacts__wrapper {
	position: relative;
	padding-bottom: 55px;
}

.contacts__wrapper::before {
	position: absolute;
	content: "";
	width: 50px;
	height: 85px;
	right: 0;
	top: 30px;
	background: url("../img/flag.png") no-repeat;
}

.contacts__title {
	padding: 42px 0px;
	font-size: 40px;
	line-height: 50px;
}

.contacts__item {
	padding: 10px 0;
	margin: 0;
	font-size: 16px;
	text-align: left;
}

.contacts__item--email,
.contacts__item--address {
	width: 11%;
}

.contacts__item--email-name,
.contacts__item--address-name {
	width: 39%;
}

.contacts__map {
	padding-top: 45px;
}

#map {
	height: 458px;
}

.contacts__btn {
	width: 150px;
	margin: 0 auto;
	margin-top: 55px;
}

.features__wrapper {
	width: 668px;
}

.features__wrapper {
	padding: 0;
	margin-top: 60px;
}

.features__title {
	font-size: 40px;
	line-height: 50px;
}

.features__item {
	width: 324px;
	padding-right: 10px;
}

.features__item p {
	padding-top: 75px;
	padding-bottom: 30px;
	font-size: 20px;
	line-height: 24px;
}

.features__icon {
	top: 10px;
}

.goods__title-wrapper {
	width: 668px;
}

.goods__item-wrapper {
	width: 668px;
}

.goods {
	position: relative;
	margin-top: -60px;
	min-height: 690px;
	z-index: -1;
	background: #f9f9f9 url("../img/hero-desktop@1x.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.goods::before {
	display: block;
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 19px;
	z-index: 2;
	background: url("../img/zigzag-fill-desktop.png") repeat;
	background-position: 0 0;
}

.goods__title {
	padding-top: 150px;
	font-size: 40px;
	line-height: 50px;
}

.goods__title br {
	display: none;
}

.goods__list {
	width: 25%;
	padding-left: 5%;
}

.goods__list a {
	font-size: 20px;
	line-height: 30px;
}

.goods__img {
	padding: 0;
	width: 15%;
	margin-right: 5%;
}

.goods__img img {
	width: 41px;
	height: 62px;
}

.goods__items {
	width: 320px;
	margin: 0 auto;
	-ms-flex-direction: row;
	flex-direction: row;
	position: relative;
	padding-top: 380px;
}

.goods__item--interior {
	width: 50%;
	min-height: 120px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.goods__item--toys {
	width: 50%;
	min-height: 120px;
	cursor: pointer;
}

.main-nav__wrapper {
	width: 668px;
}

.main-nav__item {
	border-bottom: none;
}

.main-nav {
	width: 320px;
	margin: 0 auto;
	min-height: 150px;
}

.main-nav__toggle {
	display: none;
}

.main-nav__items {
	height: 130px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-nav__item a {
	font-size: 14px;
	padding: 20px 0;
	border-top: none;
	border-bottom: none;
}

.main-nav__item--logo {
	-ms-flex-order: 0;
	order: 0;
	display: -ms-flexbox;
	display: flex;
	min-height: 90px;
	-ms-flex-align: center;
	align-items: center;
	padding-right: 218px;
	height: 50px;
}

.main-nav__item--catalog {
	-ms-flex-order: 3;
	order: 3;
	width: 25%;
	border-top: 1px solid #e7e7e7;
}

.main-nav__item--order {
	-ms-flex-order: 4;
	order: 4;
	width: 25%;
	border-top: 1px solid #e7e7e7;
}

.main-nav__item--order a {
	text-align: left;
}

.main-nav__item--search {
	-ms-flex-order: 1;
	order: 1;
	width: 85px;
	min-height: 90px;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	margin-left: auto;
}

.main-nav__item--search a {
	font-size: 0px;
}

.main-nav__item--basket {
	-ms-flex-order: 2;
	order: 2;
}

.main-nav__item--basket a {
	padding-top: 33px;
	padding-bottom: 33px;
	padding-left: 80px;
}

.main-nav__item--delivery {
	-ms-flex-order: 5;
	order: 5;
	display: block;
	width: 50%;
	border-top: 1px solid #e7e7e7;
}

.main-nav__item--delivery a {
	font-family: "Veranda", "Arrial";
	font-weight: normal;
	font-size: 14px;
	color: #444444;
	text-align: right;
}

.main-nav__item--catalog a,
.main-nav__item--order a,
.main-nav__item--delivery a {
	padding: 15px 0;
}

.page-footer__wrapper {
	width: 668px;
}

.page-footer__wrapper {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	min-height: 145px;
}

.page-footer-logo {
	display: block;
	width: 30%;
}

.page-footer__social {
	width: 30%;
	padding: 0;
	margin: 0;
}

.page-footer__copyright {
	width: 30%;
	margin: 0;
}

.page-footer__copyright-link {
	right: 0;
}

.social-links {
	border: 0;
}

.page-header {
	width: 668px;
}

.reviews__wrapper {
	width: 668px;
}

.reviews__wrapper {
	position: relative;
	min-height: 462px;
	width: 668px;
	padding: 0 50px;
	padding-bottom: 80px;
	margin-top: 50px;
	background-image: url("../img/review@1x.jpg");
	background-repeat: no-repeat;
	background-position: left center;
}

.reviews::before {
	bottom: 0px;
	height: 22px;
	background: url("../img/zigzag-line-desktop.png") repeat-x;
}

.reviews__title {
	padding-top: 80px;
	padding-bottom: 50px;
	font-size: 40px;
	line-height: 50px;
}

.reviews__item {
	padding: 0;
	margin: 0;
	font-family: "OpenSans";
	font-size: 16px;
	line-height: 30px;
}

.reviews__auhor-name {
	display: block;
	margin-top: 5px;
	width: 100%;
}

.reviews__toggle {
	position: absolute;
	border: none;
}

.reviews__toggle--prev {
	bottom: 40px;
	right: 95px;
}

.reviews__toggle--next {
	bottom: 40px;
	right: 10px;
}

.reviews__write {
	position: absolute;
	top: 50px;
	right: 50px;
}

.top-goods__container {
	width: 668px;
}

.top-goods__wrapper {
	padding-bottom: 25px;
}

.top-goods::before {
	height: 22px;
	background: url("../img/zigzag-line-desktop.png") repeat-x;
}

.top-goods__title {
	padding-top: 25px;
	padding-bottom: 30px;
	padding-left: 0;
	font-size: 40px;
	line-height: 50px;
}

.top-goods__subtitle {
	position: absolute;
	right: 45px;
	top: 35px;
	padding: 0;
	text-align: center;
	width: 90px;
	min-height: 35px;
}

.top-goods__left {
	width: 46%;
	margin-right: 4%;
}

.top-goods__right {
	width: 50%;
	padding-top: 30px;
}

.top-goods__left-img {
	display: none;
}

.top-goods__right-img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url("../img/triple-set-tablet@1x.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.top-goods__descr {
	font-size: 16px;
	line-height: 30px;
}

.top-goods__options {
	margin-top: 20px;
}

.top-goods__price {
	font-size: 18px;
	line-height: 24px;
	margin-top: 18px;
	padding-top: 35px;
	padding-bottom: 35px;
}

.top-goods__btn {
	margin-left: auto;
}

.title__wrapper {
	width: 668px;
}

.title__name {
	position: relative;
	margin-top: -60px;
	padding-top: 90px;
	padding-bottom: 85px;
	font-size: 40px;
	line-height: 50px;
	z-index: -1;
}

.title__name::before {
	display: block;
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 19px;
	z-index: 2;
	background: url("../img/zigzag-fill-desktop.png") repeat;
	background-position: 0 0;
}

.title__description {
	padding-top: 70px;
	padding-bottom: 60px;
	font-size: 16px;
	line-height: 30px;
}

.title__description br {
	display: block;
}

.order-form__type--container,
.order-form__color--container,
.order-form__name--container,
.order-form__contacs--container,
.order-form__additionally--container {
	width: 668px;
}

.sub {
	width: 668px;
}

.order-form .order-form__item:nth-child(2n) {
	background: #f1f1f1;
}

.order-form__legend {
	display: inline-block;
	float: left;
	width: 25%;
}

.order-form__legend::before {
	display: none;
}

.order-form__input-wrapper {
	display: inline-block;
	float: left;
	width: 75%;
}

/*Стилизация радиобаттон*/

.order-form__legend--type {
	padding-top: 15px;
}

.order-form__radio-group {
	padding-left: 80px;
	padding-top: 15px;
	padding-bottom: 40px;
	font-size: 18px;
	line-height: 18px;
}

.order-form__radio-group br {
	display: none;
}

.order-form__radio-group input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 0px;
	left: 0;
	width: 48px;
	height: 48px;
	border: 2px solid #444444;
	border-radius: 50px;
}

.order-form__radio-group input[type="radio"]:checked + .radio-indicator::after {
	content: "";
	position: absolute;
	top: 13px;
	left: 13px;
	width: 23px;
	height: 23px;
	background-color: #63d1bb;
	border-radius: 50px;
}

/*Стилизация чексбоксов*/

.order-form__legend--color {
	padding-top: 20px;
}

.order-form__item--color {
	margin-top: 30px;
	padding-bottom: 35px;
	padding-top: 60px;
}

.order-form__input-wrapper--checkbox {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.order-form__checkbox {
	width: 50%;
	margin: 0;
	padding: 0;
	padding-left: 82px;
	padding-top: 15px;
	padding-bottom: 44px;
	font-size: 18px;
	line-height: 18px;
	box-sizing: border-box;
}

.order-form__checkbox br {
	display: none;
}

.order-form__checkbox input[type="checkbox"] + .checkbox-indicator {
	width: 50px;
	height: 50px;
	border: 2px solid #444444;
}

.order-form__checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	top: 24px;
	left: 16px;
	width: 30px;
	height: 2px;
	transform: rotate(-45deg);
}

.order-form__checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	top: 30px;
	left: 6px;
	width: 17px;
	height: 2px;
	transform: rotate(45deg);
}

/*Стилизация текстовых полей*/

.order-form__name--container {
	padding-top: 40px;
	padding-bottom: 50px;
}

.order-form__name--container::after {
	content: "";
	display: table;
	clear: both;
}

.order-form__list {
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	line-height: 18px;
}

.order-form__label-text {
	padding-top: 25px;
	padding-bottom: 32px;
}

.order-form__input-text {
	padding-top: 27px;
	padding-bottom: 17px;
	margin-left: 23px;
	margin-bottom: 15px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
	padding-left: 16px;
	font-size: 18px;
	line-height: 18px;
}

/*Блок контактов*/

.order-form__item--contacts {
	margin-top: 0;
	padding-top: 46px;
	padding-bottom: 52px;
}

.order-form__item--contacts .order-form__input-text {
	margin-left: 0;
}

.order-form__legend--email {
	margin-top: 0;
}

/*Блок дополнительно*/

.order-form__additionally--container {
	padding-top: 45px;
}

.order-form__item--additionally textarea {
	margin: 0;
}

.sub {
	position: relative;
	min-height: 70px;
	margin-top: 45px;
	padding-bottom: 35px;
}

.sub__btn {
	position: absolute;
	width: 226px;
	text-align: center;
	padding: 17px 0px;
	margin: 0;
	top: 0;
	left: 0;
}

.sub__info {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	font-family: "OpenSans";
	font-weight: normal;
	color: #444444;
}

.catalog__wrapper {
	width: 668px;
}

.catalog__wrapper {
	padding: 0;
	padding-top: 30px;
	padding-bottom: 65px;
}

.catalog__item {
	display: -ms-flexbox;
	display: flex;
	margin-top: 45px;
}

.catalog__products {
	width: 50%;
	padding-bottom: 0px;
	box-sizing: border-box;
}

.catalog__products-title {
	padding-top: 5px;
	font-size: 18px;
	line-height: 24px;
}

.catalog__products-descr {
	padding-bottom: 175px;
	font-size: 15px;
	line-height: 30px;
}

.catalog__products-price {
	font-size: 16px;
}

.catalog__products:hover {
	box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.catalog__products:active {
	box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.catalog__item:nth-child(3) .catalog__products-descr {
	padding-bottom: 155px;
}

.catalog__item--presentation {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.catalog__presentation-title {
	padding-left: 105px;
	padding-top: 38px;
	padding-bottom: 25px;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 24px;
	-ms-flex-order: 2;
	order: 2;
}

.catalog__presentation-title br {
	display: none;
}

.catalog__presentation-video {
	-ms-flex-order: 1;
	order: 1;
}

.presentation-video__icon-play {
	width: 16%;
	top: 42%;
	left: 42%;
}

.presentation-video__icon-play:hover {
	width: 20%;
	top: 40%;
	left: 40%;
}

.presentation-video__icon-play:active {
	width: 13%;
	top: 44%;
	left: 44%;
}

.extra {
	width: 668px;
	margin: 0;
	padding-bottom: 15px;
	-ms-flex-order: 3;
	order: 3;
}

.extra__info {
	display: block;
	padding: 10px 40px;
	margin: 0;
	font-size: 16px;
	line-height: 30px;
}

.extra__btn {
	margin-top: 20px;
	width: 582px;
}

.catalog__presentation-title p {
	padding: 0px;
	margin: 0;
}

.presentation-video__icon {
	top: 35px;
	left: 12%;
}

}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {

.goods {
	background-image: url("../img/hero-desktop@2x.jpg");
	background-size: 1150px auto;
}

.reviews__wrapper {
	background-image: url("../img/review@2x.jpg");
	background-size: 350px auto;
}

.top-goods__right-img {
	background-image: url("../img/triple-set-mobile@2x.jpg");
	background-size: 333px auto;
}

}

@media (min-width: 768px) and (min-width: 768px) {

.goods__items {
	width: 668px;
}

.main-nav {
	width: 668px;
}

}

@media (min-width: 768px) and (min-width: 1150px) {

.goods__items {
	width: 1050px;
}

.main-nav {
	width: 1050px;
}

}

@media (min-width: 1150px) {

.contacts__wrapper {
	width: 1050px;
}

.contacts__wrapper {
	margin-top: 70px;
	min-height: 525px;
}

.contacts__wrapper::before {
	left: 60px;
	top: 60px;
}

.contacts__title {
	margin-left: 175px;
	padding-top: 70px;
	width: 350px;
	font-size: 50px;
	line-height: 57px;
}

.contacts__items {
	margin: 0;
	padding: 0;
	margin-left: 175px;
	width: 350px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 30px;
}

.contacts__item--email,
.contacts__item--email-name {
	padding-top: 0;
	margin-top: 7px;
}

.contacts__item--address,
.contacts__item--address-name {
	margin-top: 10px;
}

.contacts__item--email,
.contacts__item--address {
	width: 28%;
}

.contacts__item--email-name,
.contacts__item--address-name {
	width: 72%;
}

.contacts__btn {
	margin-top: 70px;
	margin-left: 175px;
}

.contacts__map {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 460px;
	height: 525px;
	top: 0;
	right: 0;
}

#map {
	width: 460px;
	height: 525px;
}

.features__wrapper {
	width: 1050px;
}

.features__title {
	margin-top: 70px;
	padding-left: 175px;
	font-size: 50px;
	line-height: 57px;
}

.features__item {
	width: 340px;
}

.features__items--left {
	margin-left: 175px;
}

.features__items--right {
	margin-right: 175px;
}

.goods__title-wrapper {
	width: 1050px;
}

.goods__item-wrapper {
	width: 1050px;
}

.goods__title br:nth-child(2) {
	display: block;
}

.goods__title {
	padding-top: 155px;
	font-size: 50px;
	line-height: 57px;
}

.main-nav__wrapper {
	width: 1050px;
}

.main-nav__items {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: start;
	align-items: flex-start;
}

.main-nav__item--logo {
	-ms-flex-order: 2;
	order: 2;
	width: 30%;
	padding: 0;
	margin: 0;
}

.main-nav__item--catalog {
	-ms-flex-order: 0;
	order: 0;
	border-top: 0;
	border-right: 1px solid #e7e7e7;
	width: 17%;
	background: #ffffff;
}

.main-nav__item--catalog a {
	font-size: 16px;
	padding-top: 33px;
	padding-bottom: 33px;
}

.main-nav__item--order {
	-ms-flex-order: 1;
	order: 1;
	border: 0;
	width: 19%;
	background: #ffffff;
}

.main-nav__item--order a {
	font-size: 16px;
	padding-top: 33px;
	padding-bottom: 33px;
	padding-left: 34px;
}

.main-nav__item--search {
	-ms-flex-order: 3;
	order: 3;
	width: 8%;
}

.main-nav__item--basket {
	-ms-flex-order: 4;
	order: 4;
	width: 25%;
}

.main-nav__item--basket a {
	text-align: right;
	font-family: "Verdana";
	font-size: 16px;
	line-height: 24px;
	padding-left: 0;
}

.main-nav__item--arrivals {
	-ms-flex-order: 5;
	order: 5;
	display: block;
	width: 17%;
	border-top: 1px solid #e7e7e7;
}

.main-nav__item--arrivals a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-nav__item--sale {
	-ms-flex-order: 6;
	order: 6;
	display: block;
	width: 19%;
	border-top: 1px solid #e7e7e7;
	margin-right: auto;
}

.main-nav__item--sale a {
	padding-left: 34px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-nav__item--delivery {
	-ms-flex-order: 7;
	order: 7;
	width: 64%;
}

.page-footer__wrapper {
	width: 1050px;
}

.page-footer__copyright {
	text-align: right;
}

.page-footer__copyright p {
	padding-right: 50px;
}

.page-header {
	width: 1050px;
}

.reviews__wrapper {
	width: 1050px;
}

.reviews__wrapper {
	min-height: 450px;
	padding-bottom: 100px;
}

.reviews__title {
	font-size: 50px;
	line-height: 57px;
	padding-left: 175px;
}

.reviews__item {
	padding: 0 175px;
}

.top-goods__container {
	width: 1050px;
}

.top-goods__container {
	padding-top: 20px;
	padding-bottom: 30px;
}

.top-goods__title {
	position: absolute;
	padding: 0;
	left: 205px;
	top: 85px;
	font-family: "Verdana";
	font-size: 50px;
	line-height: 57px;
}

.top-goods__subtitle {
	top: 120px;
	left: 70px;
}

.top-goods__left {
	padding-left: 175px;
	margin-right: 60px;
	width: 290px;
}

.top-goods__right {
	width: 50%;
}

.top-goods__descr {
	margin-top: 190px;
	margin-bottom: 50px;
	padding: 0;
}

.top-goods__price {
	margin-top: 70px;
	padding: 33px 0px;
	font-size: 18px;
	line-height: 24px;
}

.top-goods__right-img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url("../img/triple-set-desktop@1x.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.title__wrapper {
	width: 1050px;
}

.title__name {
	padding-top: 93px;
	padding-bottom: 105px;
	font-size: 50px;
	line-height: 57px;
}

.title__description {
	padding-top: 120px;
	padding-left: 175px;
	font-size: 16px;
	line-height: 30px;
}

.order-form__type--container,
.order-form__color--container,
.order-form__name--container,
.order-form__contacs--container,
.order-form__additionally--container {
	width: 1050px;
}

.sub {
	width: 1050px;
}

.order-form__legend {
	width: 110px;
	padding-right: 0;
	padding-left: 65px;
}

.order-form__input-wrapper--checkbox {
	padding-top: 3px;
}

.order-form__checkbox {
	width: 33%;
}

.order-form__name--container {
	padding-top: 45px;
	padding-bottom: 50px;
	padding-right: 115px;
	box-sizing: border-box;
}

.order-form__contacs--container,
.order-form__additionally--container {
	padding-right: 115px;
	box-sizing: border-box;
}

.sub {
	margin-top: 80px;
	padding-bottom: 79px;
	width: 700px;
}

.catalog__wrapper {
	width: 1050px;
}

.catalog__wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	padding-top: 127px;
	padding-bottom: 105px;
}

.catalog__item {
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0px;
}

.catalog__products {
	width: 315px;
	padding: 0;
	padding-left: 25px;
	padding-right: 25px;
	box-sizing: border-box;
}

.catalog__products-title {
	padding-top: 23px;
	padding-bottom: 0px;
}

.catalog__products-descr {
	padding-top: 5px;
	padding-bottom: 38px;
	font-size: 15px;
	line-height: 30px;
}

.catalog__products-price {
	padding-top: 20px;
	padding-bottom: 25px;
	font-size: 16px;
}

.catalog__products:hover {
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}

.catalog__products:active {
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.catalog__item:nth-child(3) .catalog__products-descr {
	padding-bottom: 15px;
}

.catalog__item--presentation {
	width: 100%;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	margin-top: 57px;
	padding-bottom: 0;
}

.catalog__presentation-title {
	position: absolute;
	top: 58px;
	right: 148px;
	-ms-flex-order: 2;
	order: 2;
}

.catalog__presentation-title br {
	display: block;
}

.presentation-video__icon {
	top: -15px;
	left: 110px;
	z-index: 2;
}

.catalog__presentation-video {
	position: relative;
	-ms-flex-order: 1;
	order: 1;
}

.catalog__presentation-video:before {
	width: 105px;
	height: 80px;
	top: 190px;
	left: 300px;
}

.catalog__presentation-video {
	width: 682px;
	height: 455px;
	background: url("../img/video-desktop@1x.jpg");
}

.extra {
	width: 350px;
	padding-top: 178px;
	padding-left: 76px;
	padding-right: 35px;
	box-sizing: border-box;
	-ms-flex-order: 3;
	order: 3;
}

.extra__info {
	padding: 0;
}

.extra__btn {
	margin-top: 45px;
	width: 230px;
}

}

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {

.top-goods__right-img {
	background-image: url("../img/triple-set-mobile@2x.jpg");
	background-size: 525px auto;
}

}

@media (max-width: 767px) {

.main-nav--closed .main-nav__item {
	display: none;
}

.main-nav--closed .main-nav__item--logo {
	display: -ms-flexbox;
	display: flex;
}

.main-nav--closed .main-nav__user-items {
	display: none;
}

}

