body {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	font-family: "Roboto", sans-serif;

	color: #fff;

	background: #849d8f;
}

/*Основные стили*/
.container {
	width: 1146px;
	padding: 0 27px;
	margin: 0px auto;
}

/*Распорка для флоатов*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*Кнопка*/
.btn {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 33px;

	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	font-family: "Roboto", "Arial", 
	sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	
	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px 0px rgba(172, 16, 0, 0.64);
	outline: none;
	cursor: pointer;
	border-radius: 20px;
}

.btn:hover {
	background:  linear-gradient(#f58669 0%, #ec6f5e 100%);
}

.btn:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: 0 -2px 2px 0px rgba(172, 16, 0, 0.64);
}

/*Cсылки наведение/нажатие*/
.link:hover {
	color: #ffbc9e;
}

.link:active {
	color: #ffbc9e;
}

/*Слайдер-фон*/
body > input[type="radio"] {
	display: none;
}

.slider-background {
	min-width: 900px;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
	position: relative;
	padding-top: 170px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 30px;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-top: 115px;

	font-weight: 700;
	font-size: 60px;
	line-height: 65px;
	font-family: "Roboto Black", sans-serif;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  margin-top: 40px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:  -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:  linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0px;
  font-size: 0;
  z-index: 20;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.4)
}

#btn-1:checked ~ .slider-background #slide1,
#btn-2:checked ~ .slider-background #slide2,
#btn-3:checked ~ .slider-background #slide3 {
  display: block;
	transition: 0.5s ease;
}

#btn-1:checked ~ .slider-background {
  background-color: #849d8f;
  background-image: url("../img/ice-cream1.jpg");
}

#btn-2:checked ~ .slider-background {
  background-color: #8996a6;
 background-image: url("../img/ice-cream2.jpg");}

#btn-3:checked ~ .slider-background {
  background-color: #9d8b84;
 background-image: url("../img/ice-cream3.jpg");
}

#btn-1:checked ~ .slider-background label[for="btn-1"],
#btn-2:checked ~ .slider-background label[for="btn-2"],
#btn-3:checked ~ .slider-background label[for="btn-3"] {
  background-color: #ffffff;
}

/*Шапка*/

.main-header{
	height: 100px;
	position: relative;
}

.main-header-left {
	float: left;
	margin-top: 22px;

	width: 650px;
}

/*лого*/
.main-logo {
	display: block;
	background: url("../svg/logo-gllacy.svg") no-repeat;
	top: -20px;
	left: 0px;

	width: 170px;
	height: 80px;
}

/*Оформление главного меню*/
.main-menu ul {
	margin: 0;
	padding: 0;

	list-style: none;
	font-size: 0;
}

.main-menu li {
	display: inline-block;
	position: relative;

	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}

.catalog:hover::before {
	content: "";
	display: block;
	position: absolute;
	width: 70px;
	height: 20px;
	top: 25px;
	right: 12px;
}

.menu-item {
	display: block;
	padding: 10px 15px;

	color: #ffffff;
	text-decoration: none;
}

.main-menu .menu-item::before {
	content: "";
	position: absolute;
	right: 15px;
	bottom: 10px;
	left: 15px;
	height: 1px;

	background-color: #ffffff;
	opacity: 0.5;
}

.menu-item:hover {
  background: #f8f7f4;
  color: #000000;
  border-radius: 20px;
  cursor: pointer;
}

.menu-item:active {
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.main-menu .sub-menu {
  position: absolute;
  margin: 0;
  top: 45px;
  padding: 0;
  color: #000000;
  min-width: 145px;
  display: none;
  
  list-style: none;
  background: #f7f6f3;
  border-radius: 5px;

	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  z-index: 10;
}

.main-menu .sub-menu li {
	display: inline-block;
	width: 100%;
}

.main-menu .sub-menu a {
	display: block;
	padding: 10px 20px;

	font-size: 14px;
	color: #000000;
	font-weight: 400;

	text-decoration: none;
}

.main-menu .sub-menu a:hover:not(.sub-menu-new) {
  background: #fbded7;
}

.sub-menu li:last-child a:hover {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.main-menu .sub-menu a:active {
  background: #f6b5a5;
}

.main-menu .sub-menu li:first-child a {
	font-weight: 700;
}

.main-menu .sub-menu li:first-child a::after {
	content: "";
	position: absolute;
	right: 10px;
	bottom: 0;
	left: 10px;
	height: 1px;

	background-color: #000000;
	opacity: 0.2;
}

.main-menu li:hover .sub-menu {
  display: block;
}

.main-header-right {
	display: inline-block;
	float: right;
	width: 300px;	
}

.functions  {
	float: right;

	margin: 0;
	padding: 0;

	list-style: none;
	font-size: 0;
}

.functions li {
	display: inline-block;
	margin-top: 25px;

	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}

/*Оформление поиска */
.search-form {
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	background: rgba(255, 255, 255, 0.2) url("../sprite/sprite.png") no-repeat 0 -988px;
	border-radius: 50%;
}

.search-form::before {
	content: "";
	/*display: block;*/
	position: absolute;
	width: 50px;
	height: 20px;
	top: 20px;
	right: 0px;
}

.search-form:hover {
	background: rgba(255, 255, 255, 1) url("../sprite/sprite.png") no-repeat 0 -953px;
}

.search-form:hover .search-block {
	display: block;
}

.search-block {
	display: none;
	position: absolute;
	width: 300px;
	padding: 20px 15px;
	top: 40px;
	right: 0px;
	border-radius: 20px;

	background: #f8f7f4;
	border-radius: 5px;
  color: #000000;
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
}

.search-form form {
  position: relative;	
	width: 305px;
	z-index: 10;
}

/*Поле поиска*/
.search-form .input {
	width: 300px;
	padding: 10px 15px;
	border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.search-form input::-webkit-input-placeholder {
  color: #999999; 
  font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	font-family: "Roboto", sans-serif; 
  background: #ffffff;
}

.search-form .input:hover {
	border: 2px solid rgba(178, 178, 178, 1);
	cursor: pointer;
}

.search-form .input:focus {
	border: none;
}

.search-form .input:focus::-webkit-input-placeholder {
	position: absolute;
	top: -18px;
	left: 15px;
	color: #5b9ddf;
  font-size: 11px;
  background: none;
  opacity: 1; 
  transition: 0.5s ease;
} 

/*Форма входа и корзина*/
.user-item {
	display: block;
	padding: 5px 15px;
	padding-left: 45px;

	text-decoration: none;
	text-align: left;
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto Medium", "Arial", sans-serif;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}

.user-item:hover {
	background: #ffffff;
	color: #323232;
}

.login::before,
.basket::before {
	content: "";
	position: absolute;

	width: 35px;
	height: 35px;

	background: url("../sprite/sprite.png") no-repeat;
}

.login::before  {
	top: 3px;
	left: 10px;
	background-position: 0 -818px;
}

.basket::before  {
	top: 3px;
	left: 10px;
	background-position: 0 -468px;
}

.login:hover::before {
	top: 0px;
	left: 7px;
	background-position: 0 -783px;
}

.basket:hover::before {
	top: 1px;
	left: 7px;
	background-position:  0 -433px;
}

/*Форма входа*/
.login-container {
  position: relative;
  margin-left: 40px;
  z-index: 2;
}

.login-container::after {
		content: "";
	display: block;
	position: absolute;
	width: 70px;
	height: 7px;
	top: 33px;
	right: 5px;
	cursor: pointer;
}

.login-container:hover .login-block {
	display: block;
}

.login-block {
	display: none;
	position: absolute;
	padding-left: 15px;
	padding-top: 20px;
	width: 275px;
	height: 175px;
	top: 40px;
	right: 0px;
	border-radius: 20px;

	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
	width: 272px;
	height: 175px;
}

/*Поле логина*/
.icon-user, .icon-password {
	width: 225px;
	padding: 10px 15px;
	border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.icon-user {
	margin-bottom: 10px;
}

.login-form input::-webkit-input-placeholder {
  color: #999999; 
  font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	font-family: "Roboto", sans-serif; 
  background: #ffffff;
}

.login-form .input:hover {
	border: 2px solid rgba(178, 178, 178, 1);
	cursor: pointer;
}

.login-form .input:focus {
	border: none;
}

.login-form .icon-user:focus::-webkit-input-placeholder {
	position: absolute;
	top: 2px;
	left: 30px;
	color: #5b9ddf;
  font-size: 11px;
  background: none;
  opacity: 1; 
  transition: 0.5s ease;
} 

.icon-password:focus::-webkit-input-placeholder {
	position: absolute;
	top: 55px;
	left: 30px;
	color: #5b9ddf;
  font-size: 11px;
  background: none;
  opacity: 1; 
  transition: 0.5s ease;
}

/*Форма входа кнопка*/
.login-form .btn {
	position: absolute;
	padding: 8px 35px;
	top: 132px;
	left: 15px;

	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	border: none;
}

/*Форма входа регистрация*/
.login-registration {
	display: block;
	position: absolute;
	top: 112px;
	left: 150px;
}

.login-registration .link {
	color: #333333;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
}

.login-registration .link:hover,
.login-registration .link:active {
	color: #ec593c;
}

/*Корзина*/
.basket-container {
	position: relative;
	min-width: 60px;
  margin-left: 10px;
}

.basket-container::after {
	content: "";
	display: block;
	position: absolute;
	width: 85px;
	height: 6px;
	top: 34px;
	right: 5px;
}

.basket-container:hover .basket-item-block {
	display: block;
}

.basket-item-block {
	display: none;
	position: absolute;
	width: 510px;
	min-height: 195px;
	padding: 25px 15px;
	top: 40px;
	right: 0px;
	color: #333333;

	background: #f7f6f3;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
	z-index: 5;
}

.basket-item-block::before {
	position: absolute;
	content: "";
	width: 510px;
	height: 1px;
	top: 137px;
	left: 15px;
	background-color: #cacac7;
}

.index-item {
	position: relative;
	padding-left: 25px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.index-item-close {
	position: absolute;
	top: 8px;
	left: 0px;

	width: 15px;
	height: 15px;

	font-size: 0;

	border: 0;
	outline: 0;
	cursor: pointer;
	background: #f8f7f4;
}

.index-item-close::before,
.index-item-close::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 0px;

	width: 15px;
	height: 1px;
	background-color: #343434;
	border-radius: 1px;
}

.index-item-close::before {
	transform: rotate(45deg);
}

.index-item-close::after {
	transform: rotate(-45deg);
}

.index-item span {
	display: inline-block;
	vertical-align: middle;
}

.index-item span:last-child {
	float: right;
	padding-right: 20px;
	padding-top: 10px;
}

.iscr1 {
	margin-bottom: 20px;
}

.iscr1 .img-item {
	width: 33px;
	height: 33px;
	background: url("../img/iscr1.png");
}

.iscr2 .img-item {
	width: 33px;
	height: 33px;
	background: url("../img/iscr2.png");
}

.name-item {
	width: 218px;
	padding-left: 10px;
}

.name-item .link {
	cursor: pointer;
}

.mass-item {
	padding-left: 30px;
}

.mass-kg-item {
	color: #7f7f7f;
}

.total-price-item {
	display: block;
	position: absolute;

	top: 150px;
	right: 25px;

	color: 3333333;
	font-size: 15px;
	line-height: 18px;
}

.basket-container .btn{
	display: block;
	position: absolute;

	top: 185px;
	right: 0px;

	padding: 6px 20px;

	font-size: 15px;
	line-height: 24px;
}

.info {
	float: right;
	margin: 0;
	margin-top: 15px;
	padding: 0;

	list-style: none;
	font-size: 0;
}

.info li {
	display: block;

	position: relative;
	text-align: right;

	vertical-align: top;
}

.info-timetable {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	font-family: "Roboto", "Arial", sans-serif;
}

.info-tel {
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	font-family: "Roboto Black", "Arial", sans-serif;
}

.index-content {
	margin: 0 0px;
}

.index-content-left {
	float: left;
	position: relative;
	width: 560px;
	height: 230px;

	border-radius: 20px;
}

.index-content-right {
	position: relative;
	float: right;
	width: 560px;
	height: 230px;

	border-radius: 10px;	
}

.index-content-title {
	margin: 0;
	margin-top: 25px;
	padding: 0 20px;

	font-weight: 700;
	font-size: 35px;
	line-height: 45px;
	font-family: "Roboto", "Arial", sans-serif;
}

.index-content p {
	margin: 0;
	margin-top: 25px;

	padding: 0 20px;

	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	font-family: "Roboto", "Arial", sans-serif;
}

.index-content .btn {
	position: absolute;
	bottom: 20px;
	right: 0px;
}

.index-content .raspberry {
		background: #6a021d url("../img/bg-barry.jpg") no-repeat center;
} 

.index-content .choco {
	background: #62381f url("../img/bg-choco.jpg") no-repeat center;
} 

/*Блок с видами мороженного*/
.hit-products {
	margin-top: 40px;
}

.hit-products figure {
	float: left;
	position: relative;

	margin: 0;

	width: 267px;
	z-index: 1;
}

.hit-products figure:not(.hit-item-1) {
	padding-left: 26px;
}

.hit-products-category {
	display: inline-block;
	text-align: center;

	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;
}

.hit-products figure::after {
	content: "";
	position: absolute;
	width: 70px;
	height: 70px;

	top: 0px;
	left: 15px;

	background: url("../sprite/sprite.png") no-repeat;
	background-position:  0 -708px;
}

.hit-products figure::before {
	content: "";
	position: absolute;

	top: 0px;
	left: 0px;
	z-index: 1;
}

.hit-products-price {
  position: absolute;
	top: 230px;
	left: 25px;

	font-weight: 700;
	font-size: 45px;
	line-height: 13px;
	font-family: "Roboto", "Arial", sans-serif;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hit-item-1 .hit-products-price{
	top: 230px;
	left: 0px;
}


.hit-products-price::before {
	content: "";
	position: absolute;
	width: 70px;
	height: 70px;

	top: -15px;
	left: 75px;

	background: url("../svg/icon-P.svg") no-repeat;
}

.hit-item-1 .hit-products-price::before {
	top: -15px;
	left: 75px;
}

.hit-products-index {
	display: block;
	position: absolute;
	font-size: 30px;
	
	top: 5px;
	right: -75px;
}

/*Быстрый просмотр*/
.hit-products figure .hit-products-quick-view {
  display: none;

  text-align: center;
}

.hit-products figure:hover .hit-products-quick-view {
  display: block;
}

.hit-products-quick-view .btn {
	position: absolute;
	padding: 10px 25px;
	width: 195px;
	bottom: -50px;
	left: 37px;

	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;

	animation-name: pulse;
    animation-duration: 0.7s; 
    animation-fill-mode: both; 
}

@keyframes pulse { 
    0% { 
        opacity: 0; 
        transform: translateY(200px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-10px); 
    } 
    80% { 
        transform: translateY(5px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.hit-item-1 .btn {
	bottom: -50px;
	left: 13px;
}

.hit-products figure:hover::before {
	position: absolute;
	width: 290px;
	height: 390px;

	top: -10px;
	left: 15px;
	z-index: -1;

	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
	
	animation: animationFrames;
  animation-duration: 0.5s; 
  animation-fill-mode: both; 
}

.hit-products .hit-item-1:hover::before {
	top: -10px;
	left: -10px;
}

@keyframes animationFrames{
0% { 
  opacity: 0; 
  transform: translateY(-20px); 
    } 
  100% { 
   opacity: 1; 
  transform: translateY(0); 
  } 
} 

/*Блок вафля*/
.features-items {
	width: 1150px;
	min-height: 306px;

	margin-top: 40px;
	padding: 0px 0px;

	color: #353535;
	border-radius: 20px;
	background: url(../sprite/sprite.png) repeat;
}

.features-items-title {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	font-family: "Roboto", "Arial", sans-serif;
}

.features-items-left {
	float: left;
	width: 560px;
}

.features-items-right {
	float: right;
	width: 560px;
}

.features-items p {
	position: relative;
	padding-left: 75px;
	padding-right: 10px;
	margin-top: 0px;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;
}

.features-items p:nth-child(1) {
	margin-bottom: 25px;
}

.features-items p::before {
	display: block;
	position: absolute;
	content: "";
	width: 55px;
	height: 55px;
	top: -20px;
	left: 10px;
	background: url("../sprite/sprite.png") no-repeat;
}

.features-items-left p:nth-child(1)::before {
	background-position: 0 -893px;
}

.features-items-left p:nth-child(2)::before {
	background-position: 0 -558px;
}

.features-items-right p:nth-child(1)::before {
	background-position: 0 -498px;
}

.features-items-right p:nth-child(2)::before {
	background-position: 0 -1023px;
}

.index-content-column {
	margin-top: 40px;
	margin-bottom: 30px;
}

.index-content-column .index-content-left {
	height: 220px;
	background: url("../img/bg-strawberry.jpg") no-repeat;
}

.index-content-left-item {
	padding-left: 20px;

	color: #353535;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	font-family: "Roboto", "Arial", sans-serif;
}

.index-content-column .link {
	display: block;

	padding-left: 20px;
	color: #353535;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	font-family: "Roboto", "Arial", sans-serif;
}

.index-content-column .link:hover {
	color: #ec593c;
}

.index-content-column .index-content-right {
	position: relative;
	height: 220px;
	background: url("../img/bg-post.png") no-repeat;
}

.index-content-right-item {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 30px;

	color: #5a5a5a;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;
}

/*Форма подписки на рассылку*/
.subscription-form input[type="email"] {
	position: absolute;
	padding: 10px;
	width: 345px;

	bottom: 40px;
	left: 30px;

	color: #999999;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;

	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscription-form input[type="submit"] {
	display: block;
	position: absolute;
	padding: 10px 20px;
	right: 10px;
	bottom: 42px;

  font-weight: 700;
	font-size: 17px;
	line-height: 25px;
	font-family: "Roboto", "Arial", sans-serif;

  border: none;
}

/*Блок с картой*/
.map-block {
	position: relative;
	width: 1200px;
	height: 430px;
	padding: 0;
	margin: 0px auto;
	z-index: 1;

	/*Только для оформления*/
	background: rgba(115, 15, 100, 0.2);
}

#map {
	position: relative;
	width: 1200px;
	height: 430px;
	padding: 0;
	margin: 0px auto;	
	z-index: 5;
}

.map-block .contacs {
	display: block;
	position: absolute;
	min-height: 308px;
	width: 300px;

	bottom: 60px;
	right: 30px;

	background: #ffffff;
	border-radius: 5px;
	z-index: 50;
}

.contacs p {
	margin: 0;
	padding: 0px 25px;
	color: #343434;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	font-family: "Roboto", "Arial", sans-serif;
}

.contacs p:nth-child(1) {
	margin-top: 30px;
}

.contacs .contacs-address {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacs .contacs-tel {
	margin: 5px 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;	
}

.contacs .btn {
	padding: 10px 30px;
	position: absolute;

	left: 25px;
	bottom: 30px;

	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
}

/*Подвал*/
.main-footer .container {
	position: relative;
}

.footer-social {
	display: inline-block;
	position: relative;
	float: left;
	width: 267px;
}

/*Социальные иконки футера*/
.footer-social .social-btn-tw:before {
	top: 3px;
	left: 3px;

	content: "";
	position: absolute;
	width: 30px;
	height: 30px;

	border: 4px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	opacity: 0.8;
}

.footer-social .social-btn-i:before {
	top: 3px;
	left: 52px;

	content: "";
	position: absolute;
	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.5);
	opacity: 0.8;
}

.footer-social .social-btn-fb:before {
	top: 3px;
	left: 101px;

	content: "";
	position: absolute;
	width: 30px;
	height: 30px;

	border: 4px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	opacity: 0.8;
}

.footer-social .social-btn-vk:before {
	top: 3px;
	left: 150px;

	content: "";
	position: absolute;
	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.5);
	opacity: 0.8;
}

.footer-social .social-btn:hover:before{
	border: 4px solid rgba(255, 255, 255, 0.7);
}

.footer-social .social-btn:active:before {
	box-shadow: inset 0 2px 2px 0px rgb(136, 136, 136);
}

.footer-social .social:hover {
	opacity: 1;
}

.footer-info {
	display: inline-block;
	float: left;
	width: 560px;
	margin-left: 26px;
}

.footer-info-left {
	display: inline-block;
	float: left;

	padding-left: 128px;
}

.footer-info-right {
	display: inline-block;
	float: left;

	padding-left: 30px;
}

.footer-info p {
	margin: 0;
	padding: 6px 0;
}

.footer-info a {
	position: relative;

	display: block;
	margin: 0;

	color: #ffffff;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	font-family: "Roboto", "Arial", sans-serif;
}

.footer-info-left .supplier {
	font-weight: 700;
}

.footer-info-left .supplier:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;

	top: 0;
	left: -20px;

	background: url("../sprite/sprite.png") no-repeat -15px -677px;
}

.footer-logo {
	display: inline-block;
	float: right;
	width: 267px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.footer-logo-img {
	display: block;
	position: absolute;
	top: 10px;
	right: 185px;
	width: 110px;
	height: 38px;
	background: url("../svg/logo-academy.svg") no-repeat;
}

.footer-foundation {
	display: block;
	margin-top: 55px;
	margin-bottom: 20px;
}

.footer-foundation a {
	color: #ffffff;
}

/*Всплывающая форма*/
.modal-content {
	position: fixed;
	top: 120px;
	left: 50%;
	z-index: 30;

	display: none;
	width: 430px;
	margin-left: -265px;
	padding: 20px 25px;

	color: #000000;

	background: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

.modal-content-show {
	display: block;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	display: none;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);	
}

.modal-overlay-show {
	display: block;
}

.modal-content-close {
	position: absolute;
	top: 10px;
	right: 15px;

	width: 22px;
	height: 22px;

	font-size: 0;

	border: 0;
	outline: 0;
	cursor: pointer;
	background: #f8f7f4;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;

	width: 19px;
	height: 1px;
	background-color: #000000;
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content-title {
	margin: 0;
	margin-bottom: 25px;
	color: #343434;
	font-weight: 500;
	font-size: 24px;
	line-height: 22px;
}

.latter-form input {
	display: block;
	width: 265px;
	margin-bottom: 20px;
	padding: 10px 15px;
	border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  outline-color: rgba(154, 154, 154, 0.5);
}

.latter-form input::-webkit-input-placeholder,
.latter-form textarea  {
  color: #999999; 
  font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	font-family: "Roboto", sans-serif; 
  background: #ffffff;
}

.latter-form input[type="text"]::-webkit-input-placeholder {
	display: inline-block;
	vertical-align: top;
}

.latter-form textarea {
	width: 390px;
	padding: 10px 15px;
	margin-bottom: 75px;
	min-height: 140px;
	border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  outline-color: rgba(154, 154, 154, 0.5);
  resize: none;
  overflow: auto;
}

.latter-form .btn {
	position: absolute;
	bottom: 25px;
	right: 10px;
}







