html,
body {
  min-width: 1424px;
  min-height: 900px;
  background: #f7f7f7;
  color: #212121;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  font-family: "SFUIText-Semibold", "Arial", sans-serif;
}

@font-face {
  font-family: "SFUIText-Semibold";
  src: url("../fonts/SFUIText-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Medium";
  src: url("../fonts/SFUIText-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../fonts/SFUIText-Regular.otf");
  font-weight: 400;
  font-style: regular;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  position: relative;
  width: 1424px;
  min-height: 900px;

  margin: 0px auto;

  background-color: #292c33;
}

.inner-content-left {
  display: inline-block;
  float: left;

  width: 342px;
}

.inner-content-right {
  display: inline-block;
  min-height: 900px;

  width: 1082px;

  background-color: #f7f7f7;
}

.main-header {
  padding: 0 30px;
  color: #ffffff;
}

.user__img {
  margin-top: 20px;
  margin-left: 12px;    
}

.user__name {
  display: inline-block;
  vertical-align: top;

  margin-left: 15px;
  margin-top: 40px;
}

.sidebar {
  margin-top: 15px;
  width: 283px;
}

.sidebar__value,
.sidebar__new-project {
  float: right;
}

.create-project {
  color: #ffffff;
  text-decoration: none;
}

.sidebar__item {
  padding: 10px 15px;

  cursor: pointer;
}

.sidebar__item:hover:not(.sidebar__item--active) {
  background-color: #35373e;
  border-radius: 4px;
}

.sidebar__item--title {
  position: relative;
  font-size: 12px;
  color: #b3bbcb;
}

.sidebar__new-project {
  position: absolute;
  display: block;
  font-size: 20px;
  right: 10px;
  top: 10px;
}

.sidebar__new-project:hover {
  transform: scale(1.1);
}

.sidebar__new-project:active {
  transform: scale(0.9);
}

.sidebar__item--active {
  background-color: #6b6b99;
  border-radius: 4px;
}

.user-out {
  display: block;
  position: absolute;

  bottom: 23px;
  left: 46px; 
}

.user-out a {
  color: #ffffff;
  text-decoration: none;
}

.search {
  height: 50px;
  border-bottom: 1px solid #bdbdbd; 
}

input[type="search"] {
  padding: 14px 50px;
  width: 970px;
  border: none;
  outline: none;
  vertical-align: middle;

  font-size: 16px;
  line-height: 21px;

  color: #212121;
  background: #f7f7f7;

  -webkit-appearance: none;
}

.search-field {
  position: relative;
}

.icons8-search {
  position: absolute;
  display: block;
  top: 14px;
  left: 20px;
  font-size: 24px;
  color: #b3bbcb;
  cursor: pointer;
}

.icons8-search:hover {
  color: #c8d0e0;
}

.more {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #b3bbcb;
  cursor: pointer;
}

.sub-menu {
  display: inline-block; 
  position: absolute;

  top: 20px;
  right: 0px;   
  list-style: none;
}

.sub-menu__item:hover {
  background-color: #e9e5e5;
  border-radius: 8px;
}

.sub-menu__item {
  display: none;  
  vertical-align: top;
}

.sub-menu a {
  display: block;
  padding: 8px 5px 8px 20px;
  color: #6b6b99;
  border-left: 1px solid #e5e5e5;
  text-decoration: none;
  text-align: right;
}

.more:hover .sub-menu__item {
  display: block;  
}

.more:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 40px;
  top: 5px;
  right: 0px;
}

.task {
  display: block;
  margin: 0px 230px;
  width: 621px;
}

.task__day {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #b3bbcb;
} 

.task__day time {
  font-size: 12px;
}

.task__item {
  margin: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 8px;
}

.task__name {  
  position: relative;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 102px;
  margin: 0;
}

.task__name:hover {
  color: #4e4e6c;
}

.task__name:active {
  color: #9090c4;
}

.task-close {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 19px;
  left: 33px;
  border: 3px solid #bdbdbd ;
  border-radius: 25px;
}

.task-close:hover {
  transform: scale(1.1);
}

.task-close:active {
  transform: scale(0.9);
}

.task__name::before {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  top: 10px;
  left: 85px;
  background-color: #eaeaea;
}

.task__name--second::after {
  display: block;
  position: absolute;
  content: "";
  width: 500px;
  height: 1px;
  top: 0px;
  left: 61px;
  background-color: #eaeaea;
}

.task-open {
  cursor: pointer;
}

.new-task {
  display: block;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 10;
}

.new-task:hover {
  opacity: 0.9;
}

.new-task:active {
  transform: scale(0.9);
}

/*Модальные окна*/

.no-task {
  display: none;
  width: 536px;
  margin: 0px 272px;
  margin-top: 231px;
}

.no-task__img {
  display: block;
  margin: 0 auto;
}

.no-task__inscription {  
  margin-top: 58px;
  font-size: 24px; 
  line-height: 31px;
  font-family: "SFUIText-Medium", "Arrial", sans-serif;
  color: #b1b1c8;
  text-align: center;
}

.modal-content {
  position: absolute;
  display: block;

  height: 100%;
  width: 500px;
  right: 0;
  top: 0;
  z-index: 20;

  background-color: #292c33;
}

.modal-content__new-project {
  display: none;
}

.modal-content-close {
  position: absolute;
  top: 19px;
  left: 12px;

  padding-top: 25px;

  width: 25px;
  height: 25px;

  font-size: 9px;
  color: #ffffff;

  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #292c33;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 3px;

  width: 23px;
  height: 2px;
  background-color: #ffffff;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content-title {
  margin-top: 30px;
  margin-left: 168px;

  font-size: 18px;
  font-weight: 500;
  font-family: "SFUIText-Medium";
  color: #ffffff;
}

input[name="project"] {
  margin-top: 10px;
  margin-left: 80px;
  padding: 6px 5px;
  width: 340px;

  font-size: 15px;
  font-family: "SFUIText-Regular";
  color: #ffffff;

  box-shadow: 0px 2px 0px 0px rgba(189, 189, 189, 1);

  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;

  background: #292c33;
}

.modal-content__create-task {
  display: none;
}

input[name="name-project"]::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "SFUIText-Regular";
  color: #f6f6f6;
}

.btn-modal-create {
  display: block;
  position: absolute;

  width: 50px;
  height: 50px;

  bottom: 30px;
  right: 30px;

  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;

  background: url(../img/Checkmark50x50.png) center no-repeat;

  z-index: 10;
}

.btn-modal-create:hover {
  transform: scale(1.1);
}

.btn-modal-create:active {
  transform: scale(0.9);
}

.create-task {
  margin-top: 15px;
  margin-left: 80px;
  padding: 6px 5px;
  width: 340px;

  font-size: 15px;
  font-family: "SFUIText-Regular";
  color: #ffffff;

  box-shadow: 0px 3px 0px 0px rgba(189, 189, 189, 1);

  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;

  background: #292c33;
}

.create-task__description {
  margin-top: 23px;
}

input[name="name-task"]::-webkit-input-placeholder,
input[name="description-task"]::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "SFUIText-Regular";
  color: #f6f6f6;
}

.modal-content__open-task {
  display: none;
}

.open-task__functions {
  margin-left: 80px;

  width: 340px;
  
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  font-family: "SFUIText-Regular", "Arial", sans-serif;
  color: #dbdbdb;
}

.task-config {
  display: block;
  position: absolute;

  color: #dbdbdb;
  font-size: 18px;

  cursor: pointer;
}

.task-config__edit {
  top: 27px;
  right: 65px;
}

.task-config__delete {
  top: 27px;
  right: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2); 
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

/*Анимация на выпадающую форму входа */
@keyframes bounce {
  0% { opacity:0; -webkit-transform: translate(-1500px,0px); }
  60% { opacity:1; -webkit-transform: translate(30px,0px); }
  80% { -webkit-transform: translate(-10px,0px);}
  100% { opacity:1; -webkit-transform:  translate(0px,0px);}
}

/*Анимация формы входа в случае ошибки*/
@keyframes shake {
  0%, 100% { transform: translateY(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateY(-10px); }
  20%, 40%, 60%, 80% { transform: translateY(10px); }
}

input {
  -webkit-appearance: none;
}


[data-icons8]:before { content: attr(data-icons8); }

[data-icons8]:before,
.icons8-add-user-male:before,
.icons8-camera:before,
.icons8-checked:before,
.icons8-checkmark:before,
.icons8-delete:before,
.icons8-delete-2:before,
.icons8-edit:before,
.icons8-expand-arrow:before,
.icons8-more:before,
.icons8-plus:before,
.icons8-search:before,
.icons8-todo-list:before,
.icons8-user:before {
  display: inline-block;
  font-family: "Test--front-end";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-add-user-male:before { content: "\f100"; }
.icons8-camera:before { content: "\f101"; }
.icons8-checked:before { content: "\f102"; }
.icons8-checkmark:before { content: "\f103"; }
.icons8-delete:before { content: "\f104"; }
.icons8-delete-2:before { content: "\f105"; }
.icons8-edit:before { content: "\f106"; }
.icons8-expand-arrow:before { content: "\f107"; }
.icons8-more:before { content: "\f108"; }
.icons8-plus:before { content: "\f109"; }
.icons8-search:before { content: "\f10a"; }
.icons8-todo-list:before { content: "\f10b"; }
.icons8-user:before { content: "\f10c"; }
