html,
body {
  min-width: 1424px;
  min-height: 900px;
  background: #f7f7f7;
  color: #212121;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  font-family: "SFUIText-Semibold", "Arial", sans-serif;
}

@font-face {
  font-family: "SFUIText-Semibold";
  src: url("../fonts/SFUIText-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Medium";
  src: url("../fonts/SFUIText-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../fonts/SFUIText-Regular.otf");
  font-weight: 400;
  font-style: regular;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  position: relative;
  width: 1424px;
  min-height: 900px;

  margin: 0px auto;

  background-color: #292c33;
}

.inner-content-left {
  display: inline-block;
  float: left;

  width: 342px;
}

.inner-content-right {
  display: inline-block;
  min-height: 900px;

  width: 1082px;

  background-color: #f7f7f7;
}

.main-header {
  padding: 0 30px;
  color: #ffffff;
}

.user__img {
  margin-top: 20px;
  margin-left: 12px;    
}

.user__name {
  display: inline-block;
  vertical-align: top;

  margin-left: 15px;
  margin-top: 40px;
}

.sidebar {
  margin-top: 15px;
  width: 283px;
}

.sidebar__value,
.sidebar__new-project {
  float: right;
}

.create-project {
  color: #ffffff;
  text-decoration: none;
}

.sidebar__item {
  padding: 10px 15px;

  cursor: pointer;
}

.sidebar__item:hover:not(.sidebar__item--active) {
  background-color: #35373e;
  border-radius: 4px;
}

.sidebar__item--title {
  position: relative;
  font-size: 12px;
  color: #b3bbcb;
}

.sidebar__new-project {
  position: absolute;
  display: block;
  font-size: 20px;
  right: 10px;
  top: 10px;
}

.sidebar__new-project:hover {
  transform: scale(1.1);
}

.sidebar__new-project:active {
  transform: scale(0.9);
}

.sidebar__item--active {
  background-color: #6b6b99;
  border-radius: 4px;
}

.user-out {
  display: block;
  position: absolute;

  bottom: 23px;
  left: 46px; 
}

.user-out a {
  color: #ffffff;
  text-decoration: none;
}

.search {
  height: 50px;
}

input[type="search"] {
  padding: 14px 50px;
  width: 970px;
  border: none;
  outline: none;
  vertical-align: middle;

  font-size: 16px;
  line-height: 21px;

  color: #212121;
  background: #f7f7f7;

  -webkit-appearance: none;
}

.search-field {
  position: relative;
  border-bottom: 1px solid #bdbdbd;
}

.icons8-search {
  position: absolute;
  display: block;
  top: 14px;
  left: 20px;
  font-size: 24px;
  color: #b3bbcb;
  cursor: pointer;
}

.icons8-search:hover {
  color: #c8d0e0;
}

.more {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #b3bbcb;
  cursor: pointer;
}

.sub-menu {
  display: inline-block; 
  position: absolute;

  top: 20px;
  right: 0px;   
  list-style: none;
}

.sub-menu__item:hover {
  background-color: #e9e5e5;
  border-radius: 8px;
}

.sub-menu__item {
  display: none;  
  vertical-align: top;
}

.sub-menu a {
  display: block;
  padding: 8px 5px 8px 20px;
  color: #6b6b99;
  border-left: 1px solid #e5e5e5;
  text-decoration: none;
  text-align: right;
}

.more:hover .sub-menu__item {
  display: block;  
}

.more:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 40px;
  top: 5px;
  right: 0px;
}


.task {
  display: block;
  margin: 0px 230px;
  width: 621px;
}

.task__day {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #b3bbcb;
} 

.task__day time {
  font-size: 12px;
}

.task__item {
  margin: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 8px;
}

.task__name {  
  position: relative;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 102px;
  margin: 0;
}

.task__name:hover {
  color: #4e4e6c;
}

.task__name:active {
  color: #9090c4;
}

.task-close {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 19px;
  left: 33px;
  border: 3px solid #bdbdbd ;
  border-radius: 25px;
}

.task-close:hover {
  transform: scale(1.1);
}

.task-close:active {
  transform: scale(0.9);
}

.task__name::before {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  top: 10px;
  left: 85px;
  background-color: #eaeaea;
}

.task__name--second::after {
  display: block;
  position: absolute;
  content: "";
  width: 500px;
  height: 1px;
  top: 0px;
  left: 61px;
  background-color: #eaeaea;
}

.task-open {
  cursor: pointer;
}

.new-task {
  display: block;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  background-color: #6b6b99;
  cursor: pointer;
  z-index: 10;
}

.new-task::before,
.new-task::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 24px;

  width: 3px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 1px;
}

.new-task::after {
  transform: rotate(90deg);
}

.new-task:hover {
  opacity: 0.9;
}

.new-task:active {
  transform: scale(0.9);
}









[data-icons8]:before { content: attr(data-icons8); }

[data-icons8]:before,
.icons8-add-user-male:before,
.icons8-camera:before,
.icons8-checked:before,
.icons8-checkmark:before,
.icons8-delete:before,
.icons8-delete-2:before,
.icons8-edit:before,
.icons8-expand-arrow:before,
.icons8-more:before,
.icons8-plus:before,
.icons8-search:before,
.icons8-todo-list:before,
.icons8-user:before {
  display: inline-block;
  font-family: "Test--front-end";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-add-user-male:before { content: "\f100"; }
.icons8-camera:before { content: "\f101"; }
.icons8-checked:before { content: "\f102"; }
.icons8-checkmark:before { content: "\f103"; }
.icons8-delete:before { content: "\f104"; }
.icons8-delete-2:before { content: "\f105"; }
.icons8-edit:before { content: "\f106"; }
.icons8-expand-arrow:before { content: "\f107"; }
.icons8-more:before { content: "\f108"; }
.icons8-plus:before { content: "\f109"; }
.icons8-search:before { content: "\f10a"; }
.icons8-todo-list:before { content: "\f10b"; }
.icons8-user:before { content: "\f10c"; }