/* Icons from directory "" */
.icon-icon-P,.icon-icon-P\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-icon-P-dims{width:45px;height:45px}
.icon-icon-basket-active,.icon-icon-basket-active\:regular{background-image:url('icons/icons.png');background-position:0 -45px;background-repeat:no-repeat}
.icon-icon-basket-active-dims{width:35px;height:35px}
.icon-icon-basket,.icon-icon-basket\:regular{background-image:url('icons/icons.png');background-position:0 -80px;background-repeat:no-repeat}
.icon-icon-basket-dims{width:35px;height:35px}
.icon-icon-cow,.icon-icon-cow\:regular{background-image:url('icons/icons.png');background-position:0 -115px;background-repeat:no-repeat}
.icon-icon-cow-dims{width:65px;height:65px}
.icon-icon-eco,.icon-icon-eco\:regular{background-image:url('icons/icons.png');background-position:0 -180px;background-repeat:no-repeat}
.icon-icon-eco-dims{width:65px;height:65px}
.icon-icon-fb,.icon-icon-fb\:regular{background-image:url('icons/icons.png');background-position:0 -245px;background-repeat:no-repeat}
.icon-icon-fb-dims{width:45px;height:45px}
.icon-icon-heart,.icon-icon-heart\:regular{background-image:url('icons/icons.png');background-position:0 -290px;background-repeat:no-repeat}
.icon-icon-heart-dims{width:35px;height:35px}
.icon-icon-ice-cream,.icon-icon-ice-cream\:regular{background-image:url('icons/icons.png');background-position:0 -325px;background-repeat:no-repeat}
.icon-icon-ice-cream-dims{width:65px;height:65px}
.icon-icon-input-active,.icon-icon-input-active\:regular{background-image:url('icons/icons.png');background-position:0 -390px;background-repeat:no-repeat}
.icon-icon-input-active-dims{width:35px;height:35px}
.icon-icon-input,.icon-icon-input\:regular{background-image:url('icons/icons.png');background-position:0 -425px;background-repeat:no-repeat}
.icon-icon-input-dims{width:35px;height:35px}
.icon-icon-inst,.icon-icon-inst\:regular{background-image:url('icons/icons.png');background-position:0 -460px;background-repeat:no-repeat}
.icon-icon-inst-dims{width:45px;height:45px}
.icon-icon-search-active,.icon-icon-search-active\:regular{background-image:url('icons/icons.png');background-position:0 -505px;background-repeat:no-repeat}
.icon-icon-search-active-dims{width:35px;height:35px}
.icon-icon-search,.icon-icon-search\:regular{background-image:url('icons/icons.png');background-position:0 -540px;background-repeat:no-repeat}
.icon-icon-search-dims{width:35px;height:35px}
.icon-icon-term,.icon-icon-term\:regular{background-image:url('icons/icons.png');background-position:0 -575px;background-repeat:no-repeat}
.icon-icon-term-dims{width:65px;height:65px}
.icon-icon-tw,.icon-icon-tw\:regular{background-image:url('icons/icons.png');background-position:0 -640px;background-repeat:no-repeat}
.icon-icon-tw-dims{width:45px;height:45px}
.icon-icon-vk,.icon-icon-vk\:regular{background-image:url('icons/icons.png');background-position:0 -685px;background-repeat:no-repeat}
.icon-icon-vk-dims{width:45px;height:45px}
.icon-icons,.icon-icons\:regular{background-image:url('icons/icons.png');background-position:0 -730px;background-repeat:no-repeat}
.icon-icons-dims{width:182px;height:1370px}
.icon-logo-gllacy,.icon-logo-gllacy\:regular{background-image:url('icons/icons.png');background-position:0 -2100px;background-repeat:no-repeat}
.icon-logo-gllacy-dims{width:160px;height:80px}
.icon-marker-map-shadow,.icon-marker-map-shadow\:regular{background-image:url('icons/icons.png');background-position:0 -2180px;background-repeat:no-repeat}
.icon-marker-map-shadow-dims{width:182px;height:110px}
.icon-marker-map,.icon-marker-map\:regular{background-image:url('icons/icons.png');background-position:0 -2290px;background-repeat:no-repeat}
.icon-marker-map-dims{width:100px;height:150px}